.about {
  background: #fafafa;
  min-height: 600px;
  margin-top: -200px;
  padding-top: 200px;
  padding-bottom: 250px;
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 84%);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 84%);
  @media (max-width: 800px) {
    -webkit-clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 94%);
    clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 94%);
    padding-bottom: 60px;
    padding-top: 100px;
    margin-top: -60px;
  }
  .container {
    background: url(../img/border.svg) no-repeat;
    background-size: contain;
    padding-top: 150px;
    padding-bottom: 150px;
    @media (max-width: 980px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  &_title {
    font-weight: bold;
    font-size: 45px;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "BebasNeue";
  }
  &_subtitle {
    opacity: 0.4;
    font-size: 16px;
  }
  &_text {
    margin-top: 40px;
    padding-right: 30px;
  }
  img {
    margin-bottom: 30px;
  }
}
