.footer {
  background: #7b7b7b;
  color: #fff;
  padding: 60px 0 30px;
  margin-top: 40px;
  -webkit-clip-path: polygon(0 0%, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0%, 100% 50%, 100% 100%, 0% 100%);
}
