.header {
  background: url(../img/bg-header.png) 50% 50% no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
  height: 100vh;
  max-height: 800px;
  text-align: center;
  color: #fff;
  position: relative;
  @media (max-width: 800px) {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 96%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 96%, 0% 100%);
  }
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(18, 13, 13, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    position: relative;
    z-index: 2;
  }
}

.jumbotron {
  background: none;
  border-radius: 0;
  max-width: 600px;
  text-align: left;
  h1 {
    font-weight: bold;
    font-size: 4em;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    span {
      display: block;
      font-size: 0.5em;
    }
  }
  &_statistic {
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 23px;
    span {
      font-weight: bold;
      font-size: 40px;
      line-height: 47px;
    }
  }
}
