.projects {
  margin-bottom: 60px;
  &_title {
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  &_desc {
    font-weight: bold;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    margin-bottom: 20px;
    span {
      font-weight: normal;
      display: block;
      opacity: 0.5;
    }
  }
}
.projects_main_stat {
  margin-bottom: 60px;
}

.projects_main_list {
  margin-bottom: 60px;
  &-item {
    border-top: 1px dashed #ccc;
    padding-top: 50px;
    padding-bottom: 50px;
    .title {
      font-family: "BebasNeue";
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      line-height: 140%;
      margin-bottom: 20px;
    }
    h4 {
      span {
        opacity: 0.5;
        font-weight: normal;
        display: inline-block;
        margin-left: 30px;
      }
    }
  }
}
.projects_region_objects {
  margin: 30px 0;

  .card {
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    padding: 18px 12px;
    margin: 15px 0;

    flex-direction: row;
    .number {
      width: 15%;
      color: #ef3b4c;
      font-weight: bold;
      font-size: 25px;
      line-height: 1;
    }
    &-text {
      font-size: 16px;
      width: 85%;
      .statistic {
        margin-top: 10px;
        opacity: 0.8;

        span {
          opacity: 0.5;
          display: block;
        }
      }
    }
  }

  h4 {
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/arrow.svg) no-repeat;
      background-size: contain;
      transition: all 0.3s ease;
    }
    &[aria-expanded="true"] {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
.projects_icons {
  margin-top: 20px;
  & > div {
    width: 70px;
    height: 45px;
    margin: 0 10px 0 0;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    display: block;
    background: #eee;
    mask-image: url(../img/triangle.svg) no-repeat;
    mask: url(../img/triangle.svg) no-repeat;
  }
}
.chart_color {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #000;
  position: absolute;
  left: -6px;
  top: 3px;
}
