@import "vars";

::placeholder {
  color: #666;
}

::selection {
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
.mt_0 {
  margin-top: 0 !important;
}
.mt_20 {
  margin-top: 20px;
}
.mt_30 {
  margin-top: 30px;
}
.ml_20 {
  margin-left: 20px;
  @media (max-width: 480px) {
    margin-left: 0;
  }
}
.mr_20 {
  margin-right: 20px;
  @media (max-width: 480px) {
    margin-right: 0;
  }
}

.red {
  color: $red;
}
.blue {
  color: $blue;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
.grey_text {
  color: #838490;
}
.events-none {
  pointer-events: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.datepicker {
  z-index: 100 !important;
  padding: 10px;
}
.datepicker-days {
  td {
    padding: 5px;
  }
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(85px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.links {
  a {
    margin-bottom: 10px;
  }
}

@-moz-document url-prefix() {
  .sticky {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
