@import "vars";
@import "fonts";

::placeholder {
  color: #666;
}

::selection {
}
html {
  font-size: 14px;
}
html,
body {
  height: 100%;
}
body {
  min-width: 320px;
  position: relative;
  font-family: sans-serif;
  overflow-x: hidden;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}
.events-none {
  pointer-events: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "BebasNeue";
}

h2 {
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
}
h4 {
  font-weight: bold;
  font-size: 16px;
}
b,
strong {
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
// footer always at the end of the page
.header {
  flex-shrink: 0;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.btn {
  background: #ef3b4c;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fafafa;
  letter-spacing: 0.5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  padding: 18px 60px;
  &:hover {
    background: darken(#ef3b4c, 20);
  }
}

@import "./_components/header";
@import "./_components/footer";
@import "./_components/about";
@import "./_components/nav";
@import "./_components/projects";
@import "./_components/types";
