@import "fonts";
@import "typography";
@import "common";

@import "./components/nav";
@import "./components/buttons";
@import "./components/projects";
@import "./components/news";
@import "./components/video";
@import "./components/owl";
@import "./components/modal";
@import "./components/person";
@import "./components/tags";
@import "./components/filter";
@import "./components/forms";
@import "./components/checkbox";
@import "./components/reestr";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/main";
