@import "fonts";
@import "typography";
@import "common";

@import "./components/buttons";
@import "./components/news";
@import "./components/owl";
@import "./components/modal";
@import "./components/person";
@import "./components/objects";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/main";
