@import "fonts";
@import "typography";
@import "common";

@import "./components/buttons";
@import "./components/projects";
@import "./components/news";
@import "./components/video";
@import "./components/owl";
@import "./components/modal";
@import "./components/person";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/main";
