.index_list {
  h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #9b9da7;
    margin-top: 30px;
  }
  .item {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px dashed rgba(#000000, 0.2);
    h4 {
      position: relative;
      padding-left: 20px;
      max-width: 990px;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: #060a22;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        display: block;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: #3e66f3;
      }
      a {
        color: #060a22;
        &:hover {
          color: #3e66f3;
          text-decoration: none;
        }
      }
    }

    ul {
      margin-left: 20px;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 140%;
      color: #b4b6bd;
      li:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
