@import "../vars";

.modal-dialog {
  background: #ffffff;
  border-radius: 10px;
  border: none;
  margin-top: 50px;
  max-width: 700px;

  .modal-content {
    border: none;
    border-radius: 10px;

    .title {
      color: #838490;
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    h1 {
      @media (max-width: 800px) {
        font-size: 1.5em;
      }
    }
    h3 {
      font-family: "Roboto", sans-serif;
      text-transform: none;
      font-size: 18px;
      font-weight: bold;
    }
    p {
      margin-bottom: 15px;
    }
    a {
      text-decoration: underline;
    }
    .close {
      position: absolute;
      right: -30px;
      top: -30px;
      opacity: 1;
      span {
        font-size: 0;
        width: 20px;
        height: 20px;
        display: block;
        background: url(../img/icons/close.svg) no-repeat;
      }
    }
  }
  .modal-header {
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
  }
  .modal-body {
    margin: 20px 10px;

    .date {
      color: #b4b6bd;
      font-size: 12px;
      background: url(../img/icons/icon_calendar.svg) no-repeat;
      padding-left: 20px;
    }
  }
  &.wide {
    max-width: 1100px;
    .modal-content {
      padding: 35px 20px;
    }
  }
  .scroll {
    max-height: 400px;
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(#3e66f3, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3e66f3;
    outline: 1px solid #3e66f3;
  }
}
#reg_modal {
  .modal-dialog .modal-header {
    padding: 30px 35px 0;
  }
  .modal-dialog .modal-body {
    margin: 0 10px 0;
    padding: 0px 35px 35px;
  }
  .item {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px dashed rgba(#000000, 0.2);
    &:last-child {
      border: none;
    }
    h4 {
      color: #000000;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        right: 20px;
        top: 10px;
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/arrow.svg) no-repeat;
        background-size: contain;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      &[aria-expanded="true"]::after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        top: 0px;
      }
      img {
        width: 30px;
        margin-right: 10px;
      }
    }
    ul {
      li {
        margin-bottom: 10px;
        margin-left: 45px;
        a {
          color: #000000;
          text-decoration: none;
          &:hover {
            color: $blue;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
