.reestr_list {
  .item {
    padding: 10px 5px 20px 0;
  }
  .card {
    background: #ffffff;
    border: none;
    &-img-top {
      height: 225px;
      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      position: relative;
      padding-left: 20px;
      &:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background: #3e66f3;
      }
    }
    &-address {
      font-size: 14px;
      line-height: 140%;
      color: #838490;
      background: url(../img/icons/icon-map.svg) 3px 0 no-repeat;
      padding-left: 20px;
    }
    .object-status {
      width: 120px;
      height: 120px;
      top: -30px;
      right: -60px;
      background: #d6e6f8;
      border-radius: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 6px solid #fff;
    }
    .object-status-sm {
      width: 80px;
      height: 80px;
      top: -20px;
      right: -30px;
    }
  }
  .owl-stage-outer {
    padding-top: 30px;
    &-img-top {
      height: 355px;
    }
  }
}

.reestr_list {
  &-head {
    margin: 30px 0 30px 0;
    align-items: center;
    h2 {
      margin-bottom: 30px;
    }
    p {
      color: #838490;
      font-size: 18px;
      line-height: 21px;
    }
    .choice_project {
      height: 42px;
      border: none;
      color: #838490;
      border-bottom: 1px solid rgba(#060a22, 0.2);
      border-radius: 0;
      padding-left: 0;
      font-size: 16px;
      line-height: 19px;
      width: 300px;
      @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  &-filter {
    ul {
      list-style: none;
      display: flex;
      margin-left: 0;
      padding: 4px;
      margin-bottom: 0;
      border-radius: 50px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      @media (max-width: 480px) {
        margin-bottom: 20px;
      }
      li {
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px solid transparent;
        @media (max-width: 480px) {
          padding: 10px;
        }
        &:not(:last-child) {
          margin-right: 5px;
        }
        a {
          font-size: 16px;
          line-height: 19px;
          color: #9b9da7;
          text-decoration: none;
          display: block;
        }
        &:hover {
          border: 1px solid #3e66f3;
          cursor: pointer;
          a {
            color: #3e66f3;
          }
        }
        &.active {
          background: #3e66f3;
          color: #fff;
          border-color: #3e66f3;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
