.reports_list {
  &-head {
    margin: 50px 0 30px 0;
    align-items: center;
    @media (max-width: 480px) {
      .d-flex {
        flex-direction: column;
      }
    }
    h3 {
      font-weight: bold;
      font-size: 28px;
      line-height: 140%;
    }
    .choice_category,
    .choice_date {
      height: 42px;
      border: none;
      color: #838490;
      border-bottom: 1px solid rgba(#060a22, 0.2);
      border-radius: 0;
      padding-left: 0;
      font-size: 16px;
      line-height: 19px;
      width: 200px;
      @media (max-width: 480px) {
        width: 100%;
      }
    }
    .choice_date {
      background: url(../img/icons/icon_calendar.svg) no-repeat 100% 50%;
      background-size: 12px;
    }
  }

  &-group {
    border-bottom: 1px dashed rgba(#000000, 0.2);
    margin-bottom: 30px;
    &--head {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 30px;
      align-items: center;
      position: relative;
      cursor: pointer;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url(../img/icons/arrow-down.svg) 50% 50% no-repeat;
        transform: rotate(180deg);
        margin-top: -10px;
      }
      &.collapsed {
        &:after {
          transform: none;
        }
      }
      img {
        max-width: 100px;
        margin-right: 20px;
      }
      .name_proj {
        display: flex;
        align-items: center;
        @media (max-width: 480px) {
          flex-direction: column;
        }
        h3 {
          font-weight: bold;
          font-size: 28px;
          line-height: 140%;
          margin-bottom: 0;
          .status {
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #b4b6bd;
            text-transform: none;
            font-family: "Roboto", sans-serif;
          }
        }
      }

      .amount {
        background: #3e66f3;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        width: 28px;
        height: 28px;
        line-height: 28px;
        margin-right: 40px;
      }
    }
    .item {
      margin-left: 100px;
      @media (max-width: 480px) {
        margin-left: 0px;
      }
    }
    h4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
    }
    h5 {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      a {
        color: #060a22;
        &:hover {
          color: #3e66f3;
          text-decoration: none;
        }
      }
    }
    &-sub {
      margin-left: 100px;
      border: none;
      @media (max-width: 480px) {
        margin-left: 0;
        padding-right: 20px;
      }
      &:not(:last-child) {
        padding-bottom: 20px;
        border-bottom: 1px dashed rgba(#000000, 0.2);
      }
      .reports_list-group--head {
        margin-bottom: 5px;
      }
      .item {
        margin-left: 40px;
        position: relative;
        @media (max-width: 480px) {
          margin-left: 0;
          padding-right: 40px !important;
        }
        h5 {
          padding-left: 20px;
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 15px;
          display: block;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          background: #3e66f3;
        }
      }
    }
  }
  .item {
    position: relative;
    padding-right: 50px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px dashed rgba(#000000, 0.2);
    &:last-child {
      border: none;
    }
    .param {
      display: flex;
      color: #b4b6bd;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 140%;
      .date {
        margin-right: 20px;
      }
    }
    .name_proj {
      color: #b4b6bd;
      &:hover {
        text-decoration: underline;
      }
    }
    h4.name_doc,
    h3.name_doc {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 10px;
      a {
        color: #000000;
        &:hover {
          color: #3e66f3;
          text-decoration: none;
        }
      }
    }
    p {
      font-size: 16px;
      line-height: 140%;
      color: #838490;
    }
    .download {
      font-size: 0;
      position: absolute;
      top: 55px;
      right: 0;
    }
  }

  .item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(#000000, 0.2);
  }
}
