.video {
  margin-top: 30px;
  .card {
    .title {
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      color: #060a22;
    }
    .text-desc {
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #060a22;
    }
  }
  .owl-theme .owl-nav {
    margin-top: -70px;
  }
}
