body {
  min-width: 320px;
  position: relative;
  font-family: sans-serif;
  overflow-x: hidden;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.main {
  flex: 1 0 auto;
}

.fixed + .main {
  padding-top: 150px;
}

.sticky + .container {
  padding-top: 110px;
}
