body {
  min-width: 320px;
  position: relative;
  font-family: sans-serif;
  overflow-x: hidden;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}
.events-none {
  pointer-events: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.datepicker {
  z-index: 100 !important;
  padding: 10px;
}
.datepicker-days {
  td {
    padding: 5px;
  }
}

.grey_text {
  color: #838490;
}
.main {
  flex: 1 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(85px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

@-moz-document url-prefix() {
  .sticky {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.fixed + .main {
  padding-top: 150px;
}

.sticky + .container {
  padding-top: 110px;
}
